<!-- In your main component template -->
<app-alert
  [message]="alertMessage"
  [type]="alertType"
  [isVisible]="isAlert"
  (close)="isAlert = false"
></app-alert>

<div class="cont" [class.s--signup]="isSignUp">
  <div class="form sign-in">
    <h2>Welcome</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <label>
        <span>Email</span>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="email"
          name="email"
          autocomplete="email"
          #emailInput="ngModel"
        />
        @if (emailInput.invalid && (emailInput.touched || emailInput.dirty)) {
        <small id="helpId" class="text-danger">
          Email field must be valid
        </small>
        }
      </label>
      <label>
        <span>Password</span>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="password"
          name="password"
          #passwordInput="ngModel"
          minlength="8"
          autocomplete="current-password"
        />
        @if (passwordInput.invalid && (passwordInput.touched ||
        passwordInput.dirty)) { @if (passwordInput.errors?.['required']) {
        <small id="helpId" class="text-danger">
          Password field must be valid
        </small>
        } @if (passwordInput.errors?.['minlength']) {
        <small id="helpId" class="text-danger">
          Pass must be at least 8 characters long.
        </small>
        } }
      </label>
      <button type="submit" class="submit">Sign In</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h3>Don't have an account? Please Sign up!</h3>
      </div>
      <div class="img__text m--in">
        <h3>If you already have an account, just sign in.</h3>
      </div>
      <div class="img__btn" (click)="toggleSignUp()">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Create your Account</h2>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <label>
          <span>Name</span>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            [(ngModel)]="username"
            name="username"
            autocomplete="username"
            #usernameInput="ngModel"
          />
          @if (usernameInput.invalid && (usernameInput.touched ||
          usernameInput.dirty)) {
          <small id="helpId" class="text-danger">
            Username field must be valid
          </small>
          }
        </label>
        <label>
          <span>Email</span>
          <input
            type="email"
            class="form-control"
            id="registerEmail"
            required
            [(ngModel)]="email"
            name="email"
            autocomplete="email"
            #registerEmailInput="ngModel"
          />
          @if (registerEmailInput.invalid && (registerEmailInput.touched ||
          registerEmailInput.dirty)) {
          <small id="helpId" class="text-danger">
            Email field must be valid
          </small>
          }
        </label>
        <label>
          <span>Password</span>
          <input
            type="password"
            class="form-control"
            id="RegisterPassword"
            required
            [(ngModel)]="password"
            name="password"
            #registerPasswordInput="ngModel"
            minlength="8"
            autocomplete="current-password"
          />
          @if (registerPasswordInput.invalid && (registerPasswordInput.touched
          || registerPasswordInput.dirty)) { @if
          (registerPasswordInput.errors?.['required']) {
          <small id="helpId" class="text-danger">
            Password field must be valid
          </small>
          } @if (registerPasswordInput.errors?.['minlength']) {
          <small id="helpId" class="text-danger">
            Pass must be at least 8 characters long.
          </small>
          } }
        </label>
        <label>
          <span>Confirm Password</span>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            required
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordInput="ngModel"
            minlength="8"
            autocomplete="current-password"
          />
          @if (confirmPasswordInput.invalid && (confirmPasswordInput.touched ||
          confirmPasswordInput.dirty)) { @if
          (confirmPasswordInput.errors?.['required']) {
          <small id="helpId" class="text-danger">
            Password field must be valid
          </small>
          } @if (confirmPasswordInput.errors?.['minlength']) {
          <small id="helpId" class="text-danger">
            Pass must be at least 8 characters long.
          </small>
          } }
        </label>
        <button type="submit" class="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
