<app-header></app-header>
<main id="main" class="main-content grid-container">
  <h1>About Pokémon Database</h1>

  <div class="grid-row">
    <div class="grid-col span-md-8">
      <h2>Philosophy</h2>

      <p>
        <em>Pokémon Database</em> started with one mission:
        <b
          >to make Pokémon game information as easy to find and digest as
          possible</b
        >. We try to be concise while also containing everything you need, and
        keep the site as fast as possible. We are also one of the few remaining
        fully independent Pokémon websites.
      </p>
      <p>
        <em>Pokémon Database</em> is also the home of <em>PokéBase</em>, our
        Q&amp;A forum. This works quite differently to most forums - general
        chatter is discouraged in favour of clear, non-opinionated answers. This
        means questions are not just useful to the original asker, they are also
        useful for future visitors. Someone can open the question page and
        quickly see the best answer right near the top. We now have over 15,000
        questions with great answers, thanks to our great community!
      </p>
      <p>
        We were one of the first Pokémon sites to have a
        <q>responsive</q> design - a layout which works well on all devices from
        desktop computers down to smartphones (and the Nintendo 3DS). We were
        also the first to use HTTPS which offers greater security (for example
        when using a public wi-fi network) and speed.
      </p>
      <h2>History</h2>

      <p>
        <em>Pokémon Database</em> started as a little test site in January 2008.
        Back then it was just a simple list of Pokémon on a white page with some
        basic details (<a href="/about/designs">screenshots here</a>). As more
        and more details were added, a proper design was made to hold the
        content and the site was moved to a new domain, , in March 2008.
      </p>
      <p>
        The site continued to grow beyond expectations and soon we were
        receiving over 100 visitors a day. Two years later in March 2010 we
        switched to a domain name, to indicate that it's a worldwide site is
        supposed to be for British websites only. Now we were receiving many
        thousands of visitors every day!
      </p>
      <p>
        In April 2010 a new section was set up - a Q&amp;A forum called the
        Pokémon Knowledgebase, or <em>PokéBase</em> for short. This kind of
        forum has never been done by any Pokémon fansite; it was a big hit and
        is still proving its usefulness today.
      </p>
      <p>
        Pokémon Black &amp; White were released in March 2011 and we got a huge
        boost in traffic. The visitor numbers continued to stay high and
        <em>Pokémon Database</em> became one of the top 5 Pokémon fansites in
        the world.
      </p>
      <p>
        Around Christmas 2012 work began on a new design for the site. The basic
        design itself was put together fairly quickly, but one of the main goals
        was to be <q>responsive,</q> which means the exact same code working
        well on smartphones and tablets as well as desktop computers. However
        this meant that every page had to be remade from scratch! The
        opportunity was taken to redo a lot of the programming behind the scenes
        too, as well as move to a new more powerful server. This project turned
        out to be incredibly time consuming, but finally in July 2013 version 3
        was open to the public!
      </p>
      <p>
        In 2018 we embarked upon another redesign. This one was mainly focused
        on improving navigation on mobile. We redesigned the menu for easier use
        on smaller screens, and finally made the quick search box visible. But
        like the previous redesign it ended up requiring a larger code rewrite
        and took several months to finish. It launched in June 2018.
      </p>
      <p>
        So what's next? Well we have a ridiculously long <q>to-do</q> list so
        there are always more things to add! We hope to have a general
        discussion forum at some point in the future for more community
        involvement, as well as many more general guides and written content.
      </p>
      <ul class="list-focus">
        <li><a href="/about/designs">View our previous designs</a></li>
      </ul>

      <h2 id="faq">Frequently Asked Questions</h2>

      <p>
        In order to stem the high number of repeat questions I'm getting through
        email, here are some FAQs - that actually <em>are</em> asked frequently!
      </p>
      <h3 id="faq-content">Can I use some content from your site?</h3>
      <p>
        In general, no. All written content, site design and data
        display/layouts have had a huge amount of research and effort put into
        them to make as easy to read as possible. Do not steal our content!
      </p>
      <p>
        However, official Pokémon artwork and sprites are not our creations and
        are used under a Fair Use Policy, so you are free to use them however
        you like. Each of the <a href="/sprites">Pokémon sprites</a> pages has
        an easy way to add images to your site or forum post.
      </p>
      <h3 id="faq-api">Do you have a downloadable database or API?</h3>
      <p>
        Despite being named <q>Pokémon Database</q>, currently we do not offer
        any database or API (Application Programming Interface) for use, though
        it may be something we offer in the future. However, there are many
        sources of data out there:
      </p>
      <ul>
        <li>
          <a href="https://github.com/veekun/pokedex">Veekun database</a> - a
          set of CSV files that can be imported into any database.
        </li>
        <li>
          <a href="https://veekun.com/dex/downloads"
            >Veekun bulk image downloads</a
          >
          - for sprites etc.
        </li>
        <li>
          <a href="https://pokeapi.co/">PokeApi</a> - a RESTful Pokémon API.
        </li>
      </ul>
      <p>
        Incidentally, this question is often asked in relation to smartphone
        apps. It should be noted here that
        <em>we are unable to make a Pokémon app</em> as Nintendo/TPCi gets them
        taken down from all app stores. The website is designed to work well on
        mobile!
      </p>
      <h3 id="faq-software">What did you use to make this site?</h3>
      <p>
        There is very little specialist software required to make a website;
        most work is done in a text editor. This site uses the PHP programming
        language with a MySQL database, all hosted on an Nginx server.
      </p>
      <p>
        PokéBase runs on an external application called
        <a href="https://www.question2answer.org/">Question2Answer</a> for which
        I have recently taken over development.
      </p>
      <p>Other software I use:</p>
      <ul>
        <li>
          <a href="https://code.visualstudio.com/">VS Code</a> (text editor, for
          programming)
        </li>
        <li><a href="https://sass-lang.com/">SASS</a> (a CSS pre-processor)</li>
        <li>
          <s>jQuery (a JavaScript library)</s> we now use plain (aka
          <q>vanilla</q>) JavaScript across the site for even faster loading
        </li>
        <li>
          <a href="https://gulpjs.com/">Gulp.js</a>, a task runner and build
          tool
        </li>
        <li>
          <a href="https://git-scm.com/">Git</a> (version control software)
        </li>
      </ul>

      <h3 id="faq-ads">How do I advertise on PokemonDb?</h3>
      <p>
        We have limited advertising here via BuySellAds to cover our costs.
        <b>Do not email us about custom advertising</b> because we are not
        interested and your email will be marked as spam.
      </p>
      <h3 id="faq-sellout">Is PokemonDb for sale?</h3>
      <p>
        No! This site is independently run by one person (with help from our
        great community) and is not for sale, wholly or partially. Do not email
        us with stupid offers because we are not interested.
      </p>
      <h2 id="credit">Credit where credit's due</h2>

      <p>
        Although the vast majority of the site is the work of one person, we
        also have contributions from other sources:
      </p>
      <ul>
        <li>
          Much of the the core data (Pokémon learnsets and locations) for recent
          games comes from the brilliant folks over at
          <a href="https://projectpokemon.org/">Project Pokémon</a>.
        </li>
        <li>Core data for Scarlet/Violet was datamined by slp32.</li>
        <li>
          Core data for Pokémon GO (Pokémon stats &amp; moves) comes from the
          wonderful <a href="https://pokeminers.com/">PokeMiners</a>.
        </li>
        <li>
          Portions of our site data come from the
          <a href="https://github.com/veekun/pokedex">Veekun project</a>.
        </li>
        <li>
          And thanks to our many members and visitors who have sent in
          corrections or updates to our pages over the years.
        </li>
      </ul>

      <p>
        Also be sure to visit our friends over at
        <a href="https://pokejungle.net">PokéJungle.net</a> who post news,
        merchandise, rumors and other interesting articles.
      </p>
    </div>

    <div class="grid-col span-md-4">
      <div class="panel panel-nav">
        <h2>Contact Us</h2>
        <p>
          Have you spotted an error on the site? Or do you just want to tell us
          how awesome we are? ;)
        </p>
        <p>
          First, make sure to <a href="#faq"><b>read the FAQs below</b></a
          >, as your question has likely been asked before. We are NOT
          interested in custom advertising.
        </p>
        <p>For anything else, you can email us at:</p>
        <ul class="list-focus">
          <li>
            <a href="mailto:info@pokemondb.net">{{ "info@pokemondb.net" }}</a>
          </li>
        </ul>
        <p class="text-small">
          We welcome all comments, but due to the number of emails we get we
          cannot reply to all messages personally, sorry.
        </p>
        <p>
          For site suggestions, you can also use
          <a href="/pokebase/meta/">Meta-PokéBase</a>, our Q&amp;A forum. Here
          you are more likely to hear back from me or our other members on
          whether your idea is good.
        </p>
      </div>

      <h2 id="privacy">Privacy Policy</h2>

      <p>
        No personal information is required to access this website or view any
        regular pages.
      </p>
      <p>
        To participate in the community (PokéBase) a valid email address is
        required; it is only visible to site administrators and is only used for
        account validation (to prevent spam) and to send opt-in notifications.
      </p>
      <p>
        Members may fill out a <i>public</i> profile which includes gender,
        country and any other information they wish to post. This is entirely
        optional and we recommend users do not post personally identifiable
        information. All other information posted (i.e. as questions, answers
        and comments) is also public and visible to anyone.
      </p>
      <p>
        We use BuySellAds on this site to cover our high costs. Ads are
        non-personalized.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>
